html, body {
  margin: 0;
  padding: 0; 
}

html {
  background: url('witcher1.jpg') #37474f;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
}

.box {
  background-color: #cfd8dc;
  height: 600px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -600px;
  -webkit-box-shadow: 5px 5px 10px -5px rgba(0,0,0,1);
  -moz-box-shadow: 5px 5px 10px -5px rgba(0,0,0,1);
  box-shadow: 5px 5px 10px -5px rgba(0,0,0,1);
}

.menu {
  background-color: #455a64;
  height: 110px;
  font-size: 40px;
  color: #cfd8dc;
  text-align: center;
  font-family: 'Kumar One';
}

ul {
  list-style-type: none;
  margin: 0; 
  padding: 0;
  overflow: hidden;
  height: 100%;
}

li.links {
  display: inline-block;
  margin: 35px 10px 0px 10px;
}

a {
  color: #cfd8dc !important;
  text-decoration: none !important;
  text-shadow: 1px 2px 3px #263238;
}

a:hover {
  color: #bf360c !important;
}

a:active {
  color: #eceff1 !important;
}

#all a {
  color: #bf360c !important;

}

.index {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #455a64 transparent transparent transparent;
  margin-left: 40px;
  position: absolute;
  z-index: 1000;
}

.users {
  height: 390px;
  overflow: auto;
}

.user {
  width: 100%;
  height: 120px;
  font-size: 15px;
  color: #263238;
  font-family: 'Roboto Mono';
}

.logo {
  height: 80px;
  width: auto;
}

li.user-info {
  display: inline-block;
  margin: 20px 0px 0px 14px;
}

#offline {
  background: #ffab91;
}

#online {
  background: #a5d6a7;
}

.search-box {
  background-color: #455a64;
  height: 100px;
  font-size: 15px;
  color: #37474f;
  font-family: 'Roboto Mono';
  overflow: hidden; 
  z-index: 1000;
}

input[type="text"]::-webkit-input-placeholder {
  outline: none !important;
  color: #37474f;
}

input[type="text"]:focus {
  outline: none !important;
}

input#search {
  background: #cfd8dc;
  border: none;
  width: 300px;
  height: 40px;
  margin: 30px 0 0 75px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 10px -5px rgba(0,0,0,1);
  box-shadow: 0px 0px 10px -5px rgba(0,0,0,1);
}

button#submit {
  font-size: 25px;
  border: none;
  color: #bf360c;
  height: 55px;
  width: 55px;
  background: transparent;
  text-decoration: none !important;
  outline: none !important;
  text-shadow: 1px 2px 3px #263238;
}



